.chatbox {
          z-Index: 2;
          position: fixed;
          top: 0px;
          right: -6px;
          margin: 5px;
          width: 300px;
          height: 579px;
          bottom: 120px;
          background-color: white;
        }

.chatout {
  height: 472px;
  overflow-y: auto;
}

.chatdata {
  position: fixed;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #999;
  width: 270px;
  height: 35px;
  bottom: 134px;
}

.inputbox {
  position: absolute;
  bottom: 0;
}

p{
  width: 240px;
  float: left;
  margin-left: 5px;
  word-wrap: break-word;
  background: #4080ff;
  padding: 3%;
  color: white;
  border-radius: 10px;
}

h3{
background-color: #4080ff;
padding: 5px;
color: #fff;
}